name: Build .NET Application

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release
      
      # AQUÍ ESTABA EL ERROR: Ahora apuntamos al archivo .csproj específico
      - name: Publish
        run: dotnet publish LAB08WILSONDCV/LAB08WILSONDCV.csproj --no-build --configuration Release --output ./published